<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/f8b439a839.js" crossorigin="anonymous"></script>
    <title>Mercadin</title>
  </head>
  <body>

    <div class="container">
      <ul class="nav nav-tabs justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" href="/">Lucas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/luis">Luis</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/mariana">Mariana</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/reginalda">Reginalda</a>
        </li>
      </ul>
    </div>
    <h1>Mercadin</h1>
    <form action="/show" method="POST">
      <div class="form-row">
        <div class="form-group col-md-5">
          <label>Nome mercado</label>
          <input type="text" class="form-control" name="nome">
        </div>
        <div class="form-group col-md-6">
          <label>Nome Fantasia</label>
          <input type="text" class="form-control" name="fantasia">
        </div>
      </div>
      <div class="form-group col-md-4">
        <label>CNPJ</label>
        <input type="number" class="form-control" name="cnpj">
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputCity">Cidade</label>
          <input type="text" class="form-control" name="cidade">
        </div>
        <div class="form-group col-md-4">
          <label for="inputState">Tipo de loja</label>
          <select id="inputState" class="form-control" name="tipo">
            <option selected></option>
            <option>Moda</option>
            <option>Mquiagem</option>
            <option>Eletronico</option>
            <option>Moveis</option>
            <option>Esport</option>
            <option>Varejista</option>
            <option>Calçados</option>
          </select>
        </div>
      </div>
      <button type="submit" class="btn btn-outline-primary">Salvar</button>
    
  </form> 

  </body>
</html>
